<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <% if (success) { %>
                <div class="alert alert-success" role="alert">
                    Query was successful!
                </div>
            <% } %>
            <div class="bg-light rounded p-4">
                <div class="table-responsive">
                    <tr>
                        <th colspan="3">
                            <a href="/add-post" class="btn btn-primary">Add New Blog</a><br><br>
                        </th>
                    </tr>
                    <table class="table">
                        <thead>
                            <tr class="bg-secondary text-light">
                                <th>Title</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(post => { %>
                                <tr>
                                    <td>
                                        <a href="/post/<%= post._id %>">
                                            <%= post.title %> &nearr;
                                        </a>
                                    </td>
                                    <td><%= post.ticketPrice %></td>
                                    <td>
                                        <a href="/edit-post/<%= post._id %>" class="btn btn-primary">Edit</a>
                                        <form action="/postRoutes/delete-post/<%= post._id %>?_method=DELETE" method="POST" style="display: inline;">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
