<div class="container-fluid bg-light bg-icon py-2">
    <div class="container">
        <div class="ticket-booking">
            <div class="testimonial-item position-relative bg-white p-5 mt-4">
                <form action="/authRoutes/<%= user._id %>?_method=PUT" method="POST" class="mb-3">
                    <div class="d-flex align-items-center mb-3">
                        <strong class="me-2">Name:</strong>
                        <input type="text" placeholder="User Name" name="name" value="<%= user.name %>">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <strong class="me-2">Email:</strong>
                        <input type="email" placeholder="User Email" name="email" value="<%= user.email %>">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <strong class="me-2">Admin:</strong>
                        <input type="radio" name="admin" value="true" <%= user.admin ? 'checked' : '' %>> Admin
                        <input type="radio" name="admin" value="false" <%= !user.admin ? 'checked' : '' %>> Not Admin
                    </div>
                    <div class="d-flex align-items-center">
                        <strong class="me-2">Update:</strong>
                        <button type="submit" class="btn btn-sm btn-primary">Edit User</button>
                    </div>
                </form>
                <div class="d-flex align-items-center">
                    <form action="/authRoutes/delete-user/<%= user._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
