<h1>Edit Attraction</h1>
<form action="/postRoutes/update-attraction/<%= availability._id %>" method="POST">
    <label for="title">Name:</label>
    <%= availability.title %><br>
    <label for="ticketPrice">Ticket Price:</label>
    <input type="text" id="ticketPrice" name="ticketPrice" value="<%= availability.ticketPrice %>"><br>
    <label for="ticketQuantity">Ticket Quantity:</label>
    <input type="text" id="ticketQuantity" name="ticketQuantity" value="<%= availability.ticketQuantity %>"><br>
    <button type="submit">Update</button>
</form>
<!-- <form action="/postRoutes/delete-attraction/<%= availability._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form> -->

<h2>Availability</h2>
<ul>
    <% availability.availableTickets.forEach(ticket => { %>
        <li>
            Date: <%= ticket.date %>, Quantity: <%= ticket.quantity %>
            <form action="/postRoutes/delete-availability/<%= availability._id %>/<%= ticket._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
