<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-4">
            <div class="bg-light rounded p-4">
                <h3>Availability Data</h3>
                <ul>
                    <% data.forEach(post => { %>
                        <li>
                            <strong>Name:</strong> <%= post.title %><br>
                            <strong>Ticket Price:</strong> <%= post.ticketPrice %><br>
                            <strong>Ticket Quantity:</strong> <%= post.ticketQuantity %><br>
                            <strong>Available Tickets:</strong>
                            <ul>
                                <% post.availableTickets.forEach(ticket => { %>
                                    <li>Date: <%= ticket.date %>, Quantity: <%= ticket.quantity %></li>
                                <% }) %>
                            </ul>
                            <form action="/editavailability/<%= post._id %>" method="GET">
                                <button type="submit" class="btn btn-edit">Edit</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
