<table class="ticket-booking">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Attraction</th>
            <th>Ticket</th>
            <th>Date</th>
            <th>Phone</th>
            <th>Booking ID</th>
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody>
        <% bookings.forEach(booking => { %>
            <tr>
                <td><%= booking.name %></td>
                <td><%= booking.email %></td>
                <td><%= booking.attractionName %></td>
                <td><%= booking.ticket %></td>
                <td><%= booking.date %></td>
                <td><%= booking.phone %></td>
                <td><%= booking.bookingID %></td>
                <!-- <td>
                    <a href="/edit/<%= booking._id %>" class="btn">Edit</a>
                    <form action="/delete/<%= booking._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn-delete btn">
                    </form>
                </td> -->
            </tr>
        <% }) %>
    </tbody>
</table>
