<style>

</style>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="bg-secondary text-light">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                                <tr>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.admin ? 'Admin' : 'Not Admin' %></td>
                                    <td>
                                        <a href="/edituser/<%= user._id %>" class="btn btn-edit">Edit</a>
                                        <form action="/authRoutes/delete-user/<%= user._id %>?_method=DELETE" method="POST" style="display: inline;">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <% if (messages && messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%= messages.success %>
        </div>
    <% } else if (messages && messages.error) { %>
        <div class="alert alert-danger" role="alert">
            <%= messages.error %>
        </div>
    <% } %>
</div>