<!-- Page Header Start -->
<div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
    <div style="background: #000000;">
        <img class="img-fluid w-30" src="img/login.jpg">
    </div>
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown"><br>Sign Up</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Sign Up</a></li>
            </ol>
        </nav>
    </div>
    <!-- Page Header End -->
</div>
<!-- Page Header End -->

<% if (bookings.length > 0) { %>
    <ul>
        <% bookings.forEach(booking => { %>
            <li>
                <strong>Name:</strong> <%= booking.name %><br>
                <strong>Attraction:</strong> <%= booking.attractionName %><br>
                <strong>Ticket:</strong> <%= booking.ticket %><br>
                <strong>Date:</strong> <%= booking.date %><br>
                <strong>Phone:</strong> <%= booking.phone %><br>
                <strong>Email:</strong> <%= booking.email %><br>
                <strong>Booking ID:</strong> <%= booking.bookingID %><br>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No bookings found.</p>
<% } %>

<form action="/authRoutes/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>