<!-- Page Header Start -->
<div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
    <div style="background: #000000;">
        <img class="img-fluid w-30" src="img/login.jpg">
    </div>
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown"><br>Profile</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-5">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Profile</a></li>
            </ol>
        </nav>
    </div>
    <!-- Page Header End -->
</div>
<!-- Page Header End -->
<div class="container-fluid bg-light bg-icon py-6">
    <div class="container mb-5">
        <h1 class="display-5 p-4 mt-2">Booking History</h1>
            <ul class="ticket-booking">
                <% if (bookings.length > 0) { %>
                <% bookings.forEach(booking => { %>
                    <div class="testimonial-item position-relative bg-white p-5 mt-4">
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Name:</strong><%= booking.name %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Attraction:</strong><%= booking.attractionName %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Ticket:</strong><%= booking.ticket %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Date:</strong><%= booking.date %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Phone:</strong><%= booking.phone %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Email:</strong><%= booking.email %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Booking ID:</strong><%= booking.bookingID %>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <strong class="me-2">Status:</strong> <%= booking.status ? 'Booked' : 'Cancelled' %>
                        </div>
                        <a href="/editbooking/<%= booking._id %>" class="btn btn-edit">Edit</a>
                    </div>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No bookings found.</p>
        <% } %>
        <form action="/authRoutes/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-primary mt-3">Log Out</button>
        </form>
    </div>
</div>